<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <div th:insert="blocks/cdn::cdn"></div>
</head>
<body>
<header th:insert="blocks/header::header"></header>
<main>

    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class=""
                    aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class="active"
                    aria-current="true"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"
                    class=""></button>
        </div>
    </div>
    <ul>
        <li th:each="pitt : ${allPitts}" th:text="${pitt}"></li>
    </ul>
</main>
<footer th:insert="blocks/footer::footer"></footer>
</body>
</html>