<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <div th:insert="blocks/cdn::cdn"></div>
</head>
<body>
<header th:insert="blocks/header::header"></header>
<h1>User information:</h1>
<p><b>Username:</b> <span th:text="${user.name}"></span></p>
<form th:action="@{/home/mypage/__${user.id}__}" method="post">
<input type="text" id="pitt" name="pitt" required>
<button type="submit">Pitt</button>
</form>
<footer th:insert="blocks/footer::footer"></footer>
</body>
</html>