<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <div th:insert="blocks/cdn"></div>
</head>
<body>
<div class="modal modal-signin position-static d-block bg-secondary py-5" tabindex="-1" role="dialog" id="modalSignin">
    <div class="modal-dialog" role="document">
        <div class="modal-content rounded-4 shadow">
            <div class="modal-header p-5 pb-4 border-bottom-0">
                <h1 class="fw-bold mb-0 fs-2">Sign up for free</h1>
                <button type="submit" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                        onclick="location.href='/home'"></button>
            </div>

            <div class="modal-body p-5 pt-0">
                <form action="/home/signup" method="post">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control rounded-3" id="name" placeholder="Your name" name="name"
                               required>
                        <label for="name">Your name</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control rounded-3" id="surname" placeholder="Your surname"
                               name="surname" required>
                        <label for="surname">Your surname</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="date" class="form-control rounded-3" id="dateOfBirth" placeholder="Date of birth"
                               min="1900-01-01" max=""
                               name="dateOfBirth" required/>
                        <script>
                            const today = new Date().toISOString().split('T')[0];
                            document.getElementById('dateOfBirth').setAttribute('max', today);
                        </script>
                        <label for="dateOfBirth">Date of birth</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control rounded-3" id="email" placeholder="name@example.com"
                               name="email" required>
                        <label for="email">Email address</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control rounded-3" id="password" placeholder="Password"
                               name="password" required>
                        <label for="password">Password</label>
                    </div>
                    <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">Sign up</button>
                    <small class="text-muted">By clicking Sign up, you agree to the terms of use.</small>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>